.about-team{
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
  }
  
  .about-box{
    width: 100%;
  }
  
  .about-img{
    width: 25vw;
    margin: 1vw;
  }

  @media only screen and (max-width: 900px) {

  .about-img{
    width: 80vw;
  }

  .about-team{
    flex-direction: column;
  } 

}