
.grid-container {
    grid-gap: 22px;
      grid-template-rows: 1fr auto;
      margin-bottom: 10px;
      break-inside: avoid;
      column-count: 3;
      column-gap: 10px;
      row-gap: 1px;
  }
  
  .imagewrapper{
    max-height: min-content;
      height: 100%;
      margin-bottom: 0.7rem;
      cursor: pointer;
  }
  
  .grid-images {
    grid-row: 1 / -1;
    grid-column: 1;
    max-width: 100%;
    display: block;
    width: 100%;
    filter: grayscale(50%);
    transition: 1s;
    padding: 1vw;
  
  }
  
  .grid-box{
      overflow:hidden
      
  }
  
  .grid-images:hover{
  
    filter: grayscale(0%);
    -webkit-transform:scale(1.3);transform:scale(1.05);
   
  }
  
  .grid-flotante{
     position: fixed;
    top: 0px;
    left: 0px;
    width: 99vw;
    height: 100hw;
    z-index: 2;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    animation-name: aparece-menu ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  
  .grid-flotante-tapar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
  }
  
  .grid-flotante-salir{
    position: absolute;
    width: 50%;
    height: 100%;
  }
  
  .grid-flotante-imagewrapper{
    top: 5vw;
    justify-content: center;
    left: 5vw;
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
  }
  
  .grid-flotante-images{
    max-width: 80%;
    max-height: 100vh;
    animation-name: aparece-menu ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  
  
  }
  
  .grid-flotante-flecha{

    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 50%;
    transition: 0.25s;
  }
  
  .grid-flotante-flecha:hover {
    color:--main-font-color;
    opacity: 100%;
  }

  .grid-cerrar-container{
    position:fixed;
    right: 10px;
    top:10px;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    width: 52px;
    height: 52px;
    opacity: 50%;
    margin-right: 5vw;
    z-index: 20;
  }

  .grid-cerrar-container:hover{
    opacity: 100%;
  }

  .grid-cerrar-arriba{
    content: "";
    position: relative;
    width: 42px;
    height: 2px;
    top:0px;
    left: 0px;
    background-color: var(--main-font-color);
    transform: rotate(45deg);
    color: blue;
    transition: 0.4s;
  }

  .grid-cerrar-abajo{
    content: "";
    position: relative;
    display: block;
    width: 42px;
    height: 2px;
    top:-5px;
    left: 0px;
    background-color: var(--main-font-color);
    transform: rotate(-45deg);
    color: var(--main-font-color);
    transition: 0.4s;
  }

  .grid-flecha-caja-derecha{
    background-color: black;
    width: 50px;
    height: 20px;
    position:absolute;
    top:15px;
    left: -20px;
  }

  .grid-flecha-arriba-derecha{
    position: absolute ;
    width: 0; 
    height: 0; 
    top:5px;  
    border-left: 10px solid var(--main-font-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: 0px;
    transition: 0.4s;

  }

  .grid-flecha-abajo-derecha{
    position: absolute;
    width: 40px;
    height: 1px;
    top:1px;
    left: 0px;
    background-color: var(--main-font-color);
    transition: 0.4s;
    margin-top:8px;
  }

  .grid-flecha-caja-izquierda{
    background-color: black;
    width: 50px;
    height: 20px;
    position:absolute;
    top:15px;
    left: 20px;

  }

  .grid-flecha-arriba-izquierda{
    position: absolute ;
    width: 0; 
    height: 0; 
    top:5px;  
    border-right: 10px solid var(--main-font-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: 0px;
    transition: 0.4s;

  }

  .grid-flecha-abajo-izquierda{
    position: absolute;
    width: 40px;
    height: 1px;
    top:1px;
    right: 0px;
    background-color: var(--main-font-color);
    transition: 0.4s;
    margin-top:8px;
  }

  .grid-see-more{
    padding: 10px 20px 10px 20px;
    background-color: var(--main-font-color);
    color: var(--main-background-color);
    border-radius: 50px;
    border-color: transparent;
    font-family: var(--font-general);
    font-size: 12px;
    font-weight: bold;
  }
  @media only screen and (max-width: 900px) {
    .grid-container{
      column-count: 1;
    }
  }  