.works.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 10px;
    border-color: var(--font-title);
  }
  
  .works-box-left{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  
  .works-title{
    font-size: 30px;
    font:--font-title;
    color: var(--main-font-color);
    padding: 1em;
  
  }
  
  .works-hr{
    width: 80px;
  }
  
  .works-desc{
    padding: 1em;
    color: var(--main-font-color);
  }
  
  .works-biganto{
    width:50%;
    height:400
  }

  @media only screen and (max-width: 900px) {

    .works-biganto{
      width:100%;
    }
  }