
.services-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow: hidden;
  }
  

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 10px;
    border-color: var(--font-title);
  }
  
  .services-head{
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
    font-size: 3.5vw;
    font:--font-title;
    color: var(--main-font-color);
    height: 20vw;
  
  }
  
  .services-box-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .services-box-right{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  
  .services-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.2vw;
  }
  
  .services-title{
    font-size: 2.5vw;
    font:--font-title;
    color: var(--main-font-color);
    padding: 1em;
  }

  .services-title::first-letter{
    font-size: 130%;
  }
  
  .services-hr{
    width: 80px;
  }
  
  .services-desc{
    padding: 1em;
    color: var(--main-font-color);
  }
  
  .services-img{
    width: 60%;
  }
  
  
  
  .services-desc{
    padding: 5vw;
  }

  @media only screen and (max-width: 900px) {
    .services-title{
      font-size: 30px;
    }

    .services-text{
      width: 100%;
      font-size: 16px;
    }
  
    .services-img{
      width: 100%;
    }
  
    .services-box-left{
      flex-direction: column;
    }
  
    .services-box-right{
      flex-direction: column;
    }

    .services-head{
      font-size: 40px;
    }
}
  