.about-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-titulo-principal{
  display: flex;
  flex: row;
  justify-content: center;
  flex-wrap: wrap;
  height: min-content;
  align-content: center;
}

.about-titulo-principal-p{
  color: var(--main-font-color);
  font-family: var(--font-title);
  font-size: 50px;
  padding-right: 9px;
  height: min-content;
}

.about-text-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.about-text-cont-dos{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.about-text{
  font-family:var(--font-general);
  padding-bottom: 10px;
  max-width: 800px;
  padding-right: 5px;
  opacity: 80%;
  font-size: 14px;
}

.about-text-dos{
  font-family:var(--font-general);
  padding-bottom: 10px;
  max-width: 800px;
  padding-right: 5px;
  opacity: 80%;
  font-size: 14px
}

.about-text-services{
  font-family:var(--font-general);
  padding-bottom: 10px;
  max-width: 800px;
  padding-right: 5px;
  align-items: left;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

.about-text-tres{
  font-family:var(--font-general);
  padding-bottom: 10px;
  max-width: 800px;
  padding-right: 5px;
  opacity: 80%;
  align-items: left;
  text-align: left;
  font-size: 14px;
}

.about-hr{
  width: 100%;
  border: transparent;
  height: 1px;
  background-color: var(--main-font-color);
  opacity: 50%;
  margin: 100px;
}

.about-cont-logos{
  padding: 5vw;
  max-width: 85vw;
  display: flex;
  flex-wrap: wrap;
}

.about-img-logos{
  padding: 10px;
}