
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .contact-main-title{
    font: var(--font-title);
    size: 70px;
    color: var(--main-font-color);
  
  
  }
  
  .contact-box{
  
    margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-title{
    font: var(--font-title);
    size: 50px;
    color: var(--main-font-color);
  
  }
  
  .contact-text-box{
    border: 0px 0px 0px 10px;
  border-color: transparent;
  border-bottom-color: var(--main-font-color);
  background-color: transparent;
    min-width: 400px;
    max-width: 800px;
    margin: 10px;
    color: var(--main-font-color);
  }
  
  .contact-button{
    font: var(--font-title);
    font-size: 10px;
    max-width: 800px;
    color: var(--main-background-color);
    background-color: var(--main-font-color);
    min-width: 400px;
    max-width: 800px;
    margin: 10px;
    padding: 10px;
    border-radius:5em;
    border: 0px;
    transition: 0.5s;
  }