.Home-works{

    padding-left: 6vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    justify-content: flex-start;
    width: min-content;
    font-size: 4vw;
}

.home-works-cont{
    display: flex;
    justify-content: space-between;
}

.home-works-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-works-button{
    background-color: transparent;
    border: transparent;
    color: var(--main-font-color);
    opacity: 80%;
    padding-right: 1vw;
    animation-duration: 0.3s;
}

.home-works-button:hover{
opacity: 100%;
animation-duration: 0.3s;
}

.homeContainer{
    overflow: hidden;
}

.Home-works::first-letter {
    font-size: 130%;
}

.Home-works::after{
    position: absolute;
    content: "";
    left: 8vw;
    margin-top: 6vw;
    width: 5vw;
    height: 0.1vw;
    background-color: var(--main-font-color);
}