.cargador-contenedor{
    position: fixed;
    top: 0%;
    left: 0px;
    width: 100vw;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;    
    animation-name: desaparece-cargador ;
    animation-duration: 5s;
    animation-fill-mode: both;

}

.cargador-contenedor-secundario{
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
}

.cargador-logo{
    width: 25vw;
    max-width: 400px;
    filter:var(--logo-filter);
    padding-bottom: 7vw;
    opacity: 0%;
    animation-name: aparece-logo ;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cargador-text{
    font-size: 6vw;
    height: min-content;
    text-align: start;
    animation-name: aparece-text ;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0%;

}

@keyframes desaparece-cargador {
    1%   {
      top: 0%;
      }
      80%{
        top:0%;
        opacity: 100%;
      }
    99% {
        top:0%;
        opacity: 0%;
    }
    100%{
        top:100%
    }
  }

  @keyframes aparece-logo {
    0%   {
        opacity: 0%;
      }
      10%{
        opacity: 0%;
      }
    100% {
        opacity: 100%;
    }
  }

  @keyframes aparece-text {
    0%   {
        opacity: 0%;
      }
      70%{
        opacity: 0%;
      }
    100% {
        opacity: 100%;
    }
  }

