.NavBar-cont-base{
  height: 100px;
  width: 100%;
}

.NavBarVer{
  height: min-content;
}

.NavBarNoVer{
  height: 0px;
  transition: 0.5s;
}

.NavBar-link-decoration{
  text-decoration: none;
}

.navbar-redes{
  position:fixed;
  bottom: 10px;
  right: 10px;
}

.navbar-logo-redes{
  width: 30px;
  height: 30px;
  padding: 10px;
  opacity: 50%;
  filter:var(--logo-filter);
}

.navbar-logo-redes:hover{
  opacity: 100%;
}



.NavBar-cont-menu{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color) ;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.5s;
  
}

.NavBar-cont-menu-desplegado{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: var(--main-background-color);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.NavBar-cont-NavBar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    background-color: var(--main-background-color);
    transition: 0.5s;
    padding-top: 40px;
    padding-bottom: 12px;
}

.NavBar-cont-NavBar-chico{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--secundary-background-color);
}

.menu-link-box{
  overflow: hidden;
  height: 95px;
  text-decoration: none;
}

.NavBar-menu-link{
  text-decoration:none;
  color: var(--main-font-color);
  font-size: 50px;
  font-weight: 100;
  align-items: center;
  width: min-content;
  border-color: red;
  text-decoration:none;
  padding-top: 10px;
  align-items: center;
  width: min-content;
  transition: 0.5s;
  position: relative;
  top: -100px;
  left: 0px;
  color:var(--main-font-color);
  animation-name: baja-link ;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  opacity: 0%;
}

.NavBar-menu-link-p{
  text-decoration:none;
  transition: 0.5s;
  opacity: 80%;
}

.NavBar-menu-link-p:hover{
  opacity: 100%;
  padding-left: 10px;
  transition: 0.5s;
}

.menuButton-NavBar{
    background-color: transparent;
    border: none;
    transition: 0.5s;
    width: 52px;
    height: 52px;
    opacity: 50%;
    margin-right: 5vw;
  }

.menuButton-NavBar:hover{
  opacity: 100%;
}
  
  .cont-NavBar{
    position: sticky;
    top:0px;
    left:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: var(--main-background-color);
    z-index: 2;
    transition: 0.5s;
  }
  
  .barra-NavBar{
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 0.5px;
    background-color: var(--main-font-color);
    border: transparent;
    opacity: 50%;
  }
  
  .desplegado-NavBar{
    position:fixed;
    top:0px;
    left: 0px;  
    width: 100%;
    height: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
    background-color: rgb(98, 0, 255);
    z-index: 1;
    animation-name: aparece-menu ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  
  .box-NavBar{
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
  
  }
  
  .noDesplegado-Navbar{
    position:fixed;
    top:0px;
    left: 0px;  
    width: 100%;
    height: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
    background-color: rgb(0, 4, 255);
    z-index: 1;
    animation-name: desaparece-menu ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  .App-logo {
    height:50px;
    pointer-events: none;
    filter:var(--logo-filter);
    margin-left: 5vw;
    transition: 0.5s;
  }

  .App-logo-chico {
    height:30px;
    pointer-events: none;
    filter:var(--logo-filter);
    margin-left: 5vw;
    transition: 0.5s;
  }
  
  .menu-movil-arriba{
    content: "";
    position: relative;
    width: 30px;
    height: 2px;
    top:-10px;
    left: 10px;
    background-color: var(--main-font-color);
    color: rgb(68, 0, 255);
    transition: 0.4s;
  }
  .menu-movil-medio{
    width: 40px;
    display: block;
    position: relative;
    height: 2px;
    top:-2px;
    background-color: var(--main-font-color);
    color: var(--main-font-color);
    transition: 0.4s;
  }
  .menu-movil-abajo{
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top:6px;
    left: 10px;
    background-color: var(--main-font-color);
    color: var(--main-font-color);
    transition: 0.4s;
  }

  .menu-movil-arriba-x{
    content: "";
    position: relative;
    width: 42px;
    height: 2px;
    top:0px;
    left: 0px;
    background-color: var(--main-font-color);
    transform: rotate(45deg);
    color: blue;
    transition: 0.4s;
  }
  .menu-movil-medio-x{
    width: 0px;
    display: block;
    position: relative;
    height: 2px;
    top:-2px;
    background-color: var(--main-font-color);
    color: var(--main-font-color);
    transition: 0.3s;

  }
  .menu-movil-abajo-x{
    content: "";
    position: relative;
    display: block;
    width: 42px;
    height: 2px;
    top:-5px;
    left: 0px;
    background-color: var(--main-font-color);
    transform: rotate(-45deg);
    color: var(--main-font-color);
    transition: 0.4s;
  }

  .menu-movil-arriba-corrido{
    content: "";
    position: relative;
    width: 30px;
    height: 2px;
    top:-10px;
    left: 0px;
    background-color: var(--main-font-color);
    color: rgb(68, 0, 255);
    transition: 0.4s;
  }
  .menu-movil-medio-corrido{
    width: 40px;
    display: block;
    position: relative;
    height: 2px;
    top:-2px;
    background-color: var(--main-font-color);
    color: var(--main-font-color);
    transition: 0.4s;
  }
  .menu-movil-abajo-corrido{
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top:6px;
    left: 0px;
    background-color: var(--main-font-color);
    color: var(--main-font-color);
    transition: 0.4s;
  }


@keyframes mueve-menu{
  0%{
    width: 30px;
    left: 10px;
  }
  100%{
    width: 40px;
    left: 0px;
  }
}

@keyframes aparece-menu {
    1%   {
      height: 0%;
      opacity: 1;}
    100% {
      height: 100%;
      opacity: 1;
      display: block;
    }
  }
  
  @keyframes desaparece-menu {
    0%{height: 100%;
    opacity: 1;  
    }
  
    99% {height: 0%;
      opacity: 1; 
    }
    100% {
      opacity: 0; 
      display:none;
    }
  }
  
  @keyframes baja-link{
    25%{top:-200px;
    display: block;
    opacity: 80%;
    }
    100%{top:-25px;
      opacity: 80%;
    }
  }