.footer-container{
    display: flex;
    flex-direction: column;
    padding: 4vw;
}

.footer-hr{
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 0.5px;
    background-color: var(--main-font-color);
    border: transparent;
    opacity: 50%;
}

.footer-arriba{
    width: 100%;

}

.footer-arriba-columnas{
       display: flex;
    flex-direction: row; 
}

.footer-arriba-filas{
    padding: 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.footer-titulo-grande{
    font-size: 40px;
    height: min-content;
    text-align: start;
}

.footer-titulo-grande::first-letter{
    font-size: 130%;
}

.footer-titulo-chico{
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: start;
    font-family: var(--font-general);
}

.footer-texto{
    font-size: 12px;
    padding: 3px;
    text-align: start;
    font-family: var(--font-general);
}

.footer-columna-arriba{
    display: flex;
    flex-direction: row;
    width: 33%;
}
.footer-arriba-filas{
    width: 50%;
}

.footer-abajo{
    padding-top: 20px;
}

.footer-abajo-columnas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-redes{
    width: 15px;
    height: 15px;
    padding: 5px;
    opacity: 50%;
    filter:var(--logo-filter);
}

.footer-redes:hover{
    opacity: 100%;
}


@media only screen and (max-width: 900px) {
    .footer-arriba-columnas{
      flex-direction: column;
    }
    .footer-arriba-filas{
        width: 100%;
    }
    .footer-arriba-filas{
        width: 100%;
    }
    .footer-columna-arriba{
        width: 100%;
    }
  }  

  .footer-logo{
    height: 30px;
    filter:var(--logo-filter);
  }

  .footer-button-get{
    padding: 10px 20px 10px 20px;
    background-color: var(--main-font-color);
    color: var(--main-background-color);
    border-radius: 50px;
    border-color: transparent;
    font-family: var(--font-general);
    font-size: 12px;
    font-weight: bold;
  }

  .footer-button-link{
    text-decoration: none;
    color: var(--main-background-color);
  }

  .se-ve-en-chico{
    display: none;
    
  }

  .se-ve-en-grande{
    display: block;
  }

  @media only screen and (max-width: 900px) {

    .se-ve-en-chico{
        display: block;
      }
    
      .se-ve-en-grande{
        display: none;
      }

  } 