html {
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--font-title) ;
  font-weight: 100;
  transition: 0.5s;
}


p::first-letter {
  font-size: 130%;
}

.menu-link{
  text-decoration:none;
  color: var(--main-font-color);
  font-size: 50px;
  font-weight: 100;
  padding-top: 10px;
  align-items: center;
  width: min-content;
  transition: 0.5s;
  position:relative;
  top: 0px;
  left: 0px;
  color:rgb(255, 187, 0);
  animation-name: baja-link ;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.menu-link:hover{
  padding-left: 10px;
}

.App-link {
  color: var(--main-link-color);
}



