:root {
    --main-background-color: #262626;
    --secundary-background-color: #464646;
    --main-font-color: #eeece6;
    --main-link-color:hsl(193, 95%, 68%);
    --font-title: "serif";
    --font-general: "arial";
    --logo-filter:invert(99%) sepia(4%) saturate(1528%) hue-rotate(332deg) brightness(109%) contrast(88%);
  }

.columna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}  

.fila{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: blue;
}

.izquierda{
  justify-content:left;
}

.derecha{
  justify-content:right;
}

.arriba{
  align-items:flex-start;
}

.abajo{
  align-items:flex-end;
}

.uno{
  width:8.33%;
}

.dos{
  width:16.66%;
}

.tres{
  width: 25%;
}

.cuatro{
  width: 33.33%;
}

.cinco{
  width: 41.66;
}

.seis{
  width: 50%;
}

.siete{
  width: 58.33%;
}

.ocho{
  width: 66.66%;
}

.nueve{
  width: 75%;
}

.diez{
  width: 83.33%;
}

.once{
  width: 91.66%;
}

.doce{
  width: 100%;
}

.padding{
  padding: 1vw;
}

.fondo-uno{
  background-color:green;
}

.fondo-dos{
  background-color: red;
}

.fondo-tres{
  background-color: yellow;
}