  :root {
    --main-background-color: #eeece6;
    --main-font-color: #262626;
    --main-link-color:hsl(193, 95%, 68%);
    --font-title: "https://fonts.googleapis.com/css?family=Cinzel:400,700%7CRaleway:500,500i,600,700%7CMaterial+Icons&amp;display=swap";
  }