.cursorClass{
    position: relative;
    top: -20px;
    left: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px;
    border-color: --main-font-color;
    opacity: 50%;
    transition: 0.25s;
    cursor: none;
    z-index: 12;
}

.cursorClassMenu{
    position: relative;
    top: -30px;
    left: -30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 1.8px;
    border-color: --main-font-color;
    opacity: 50%;
    pointer-events: none;
    transition: 0.25s;
    cursor: none;
    z-index: 12;
}

.cont-cursor{
    height: 0px;
}