.banner-cont{
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
  }

.banner.box{
    width:100vw;
    min-width:800px
  }
  
  .banner-video{
    width: 100vw;
    min-width: 900px;
  }